<div id="<%= dom_id issue %>">
  <p>
    <strong>Subject:</strong>
    <%= issue.subject %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= issue.description %>
  </p>

  <p>
    <strong>Assign:</strong>
    <%= issue.assign %>
  </p>

</div>
