<p style="color: green"><%= notice %></p>

<h1>Issues</h1>

<header>
	<div class="barra-superior">
		<div class="text">Issue name</div>
		<div class="text">Creation  date</div>
		<div class="text">Assigned to</div>
	</div>
</header>
<hr>

	<div id="issues">
  <% @issues.each do |issue| %>
    <%= render issue %>
  <% end %>
	</div>
<%= link_to "New issue", new_issue_path %>
