<head>
    <h1>Issues</h1>
</head>

<body>
<div class="container">

	<div class="left-button">
			<button class="boto_filters" >+ Filters </button>
			<input class="busqueda" placeholder="subject or reference"></input>
	</div>

	<div class="right-button">
      <%= link_to "<button class=boto_new_is >+ NEW ISSUE</button>".html_safe, new_issue_path, :id=>"open-contacts-dialog-btn"%>
      <button class="boto_new_bu" >+</button>
	</div>

</div>

<br>

<div id="issues">
  <% @issues.each do |issue| %>
 		<%= render issue %>
  <% end %>
	</div>
	</body>