<head>
    <h1>Issues</h1>
</head>

<body>
<div class="container">

    <div class="left-buttons">
			<button class="boto_filters" >+ Filters </button>
			<input class="busqueda" placeholder="subject or reference"></input>
</div>

<div class="right-buttons">
      <%= link_to "<button class=boto_new_is >+ NEW ISSUE</button>".html_safe, new_issue_path, :id=>"open-contacts-dialog-btn"%>
      <button class="boto_new_bu" >+</button>
      </div>


</div>

<br>

<div id="issues">
<% if !@issues.blank? %>
	<% @issues.each do |issue| %>
		<%= render issue %>
	<% end %>

<% else %>
    <div class = "imatge">
        <br> <br> <br> <br>
        <img src="/Images/inicial_taiga.png" alt="Inicial Taiga" class="center"/>
    </div>

    <div class = "text_sota_imatge">
        <br>
        <p style="text-align:center">There are no issues to report :-)</p>
    </div>
<% end %>

	</body>