<p style="color: green"><%= notice %></p>

<br>

<div class="user-info">

  <%= image_tag(current_user.avatar_url) %>
  <h1 class="title"><%= current_user.email %></h1>
  <h2 class="detail-title">Bio</h2>
  <p class="description"><%= current_user.bio %></p>
  <br>

  </div>