 .issueitem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: 0px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin: 0px;
	margin-bottom: 20px;
	background-color: #f2f2f2;
}


  .indicators {
    display: flex;
    margin-right: 10px;
  }


.titulo {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}

p {
	margin: 0;
	font-size: 16px;
	color: #888;
}

.issue-type-indicator {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: inline-block;
  margin-right: 32px;

}

.issue-type-Bug {
  background-color: red;
}

.issue-type-Question {
  background-color: blue;
}

.issue-type-Enhancement {
  background-color: green;
}


.issue-severity-indicator {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  display: inline-block;
  margin-right: 32px;
}

.issue-severity-Wishlist {
  background-color: grey;
}

.issue-severity-Minor {
  background-color: blue;
}

.issue-severity-Normal {
  background-color: green;
}

.issue-severity-Important {
  background-color: orange;
}

.issue-severity-Critical {
  background-color: red;
}


.issue-title-container {
  margin-left: 10px;
}


